@page
@model GameShop.Pages.Admin.Users.Details
@{
    ViewData["Title"] =  @Model.MyUser.Name;
}
<dl class="row">
    <dt class="col-sm-2">
        Ім'я:
    </dt>
    <dd class="col-sm-10">
        @Model.MyUser.Name
    </dd>
    <dt class="col-sm-2">
            Пошта:
        </dt>
    <dd class="col-sm-10">
        @Model.User.Email
    </dd>
    <dt class="col-sm-2">
            Чи підтверджений аккаунт:
        </dt>
    <dd class="col-sm-10">
        @Model.User.EmailConfirmed
    </dd>
    <dt class="col-sm-2">
            Ролі:
        </dt>
    <dd class="col-sm-10">
     <ul>
                    @foreach (var role in Model.Roles){
                        <li>@role</li>
                    }
                    </ul>
    </dd>
    <dt class="col-sm-2">
            Телефон:
        </dt>
    <dd class="col-sm-10">
        @Model.User.PhoneNumber
    </dd>
    <dt class="col-sm-2">
        Замовлення:
        </dt>
    <dd class="col-sm-10">
        <a asp-page="././Orders/Customer/" asp-route-id="@Model.MyUser.Id">Відкрити замовлення</a>
    </dd>
    
     <a asp-page="./Index">Повернутися</a>
</dl>